{% load static%}
{% load clever_selects_extras%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
     <link rel="stylesheet" type="text/css" href='{%static "css/main.css"%}' />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
 <script>


$(function () {
   $("#date").datepicker({
        startDate: new Date()
        });
});


 </script>
  <body>
 <header id="masthead">
     <nav class="navbar  navbar-expand-lg navbar-light fixed-top" id="main_nav">

        <div class="col-sm-1"></div>

        <div class="col-sm-2" id="brand">
            <a class="navbar-brand" href="#" ><img src="{%static 'images/Deal_App.png'%}" ></a>
        </div>


        <div class="col-12 col-md-6" id="main_search">
        <div id="custom-search-input">
                    <form method="GET" action="">
                                <div class="input-group col-md-12">
                                    <input type="text" class="search-query form-control" placeholder="Search" name="q" />

                                </div>
                     </form>
        </div>
        </div>

        <div class="col-sm-2" id="main_links">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
                </button>


             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'deals:model_form_upload' %}"> Upload <span class="sr-only">(current)</span></a>
                          </li>
                        {% if request.user.is_authenticated %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:profile' user.username %}">{{ request.user.username }}</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                      </li>
                        {% else %}
                         <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                    </ul>
                        {% endif %}
             </div>
        </div>
        <div class="col-sm-1"></div>
    </nav>

	</header>

    {% block content %}


    {% endblock %}

  <footer class="page-footer font-small stylish-color-dark pt-4 mt-4" id="main_footer">

    <!--Footer Links-->
    <div class="container text-center text-md-left" id="main_footer_links">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Third column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Fourth column-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
      {% if user.is_authenticated %}
          <p></p>

          {% else %}
            <div class="text-center py-3" id="main_footer_reg">
                <ul class="list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="mb-1">Register for free</h5>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'users:signup'%}" class="btn btn-danger btn-rounded">Sign up!</a>
                    </li>
                </ul>
            </div>
    <!--/.Call to action-->
    {% endif %}

    <hr>

    <!--Social buttons
    <div class="text-center">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-fb mx-1">
                    <i class="fa fa-facebook"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-tw mx-1">
                    <i class="fa fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-gplus mx-1">
                    <i class="fa fa-google-plus"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-li mx-1">
                    <i class="fa fa-linkedin"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-dribbble mx-1">
                    <i class="fa fa-dribbble"> </i>
                </a>
            </li>
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" id="main_footer_copyr">
        © 2018 Copyright:
        <a href=""> Sahasraya </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
  </body>
{% clever_selects_js_import %}
</html>