{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
     <br>
     <br>
     <br>
     <br>

<div class="container">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-sm-6">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" class="btn btn-primary" value="login"/>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
</div>

{% endblock %}