{% extends 'base.html' %}
{% load static %}
{% block content %}
 </br></br> </br> </br> </br>
<div class="container">
    <div class="span3 well">
        <center>
        <img src="{{ user.avatar.url }}" name="aboutme" width="140" height="140" style="border-radius:50%;">
        <h3>{{ user.username }}</h3>
        <em>click my face for more</em>
		</center>
    </div>
<br/>
<br/>
    <div class="row masonry-grid">

                  {% for obj in user_posts.all %}



                        <div class="col-md-6 col-lg-4 masonry-column">

                            <div class="card"  style="wdith:300px;height:400px;" >
                                    <a href="#" class="thumbnail">
                                        <img class="card-img-top" src="{{ obj.document.url  }}" style="wdith:300px;height:300px;align-content:center;" alt="Card image cap">
                                    </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ obj.category }}</h5>
                                    <p class="card-text">{{ obj.description }}</p>
                                </div>
                             </div>

                        </div>

                    {% endfor %}


    </div>


</div>
 {% endblock %}